@import '../../styles/ui-library.utilities';

:host {
  display: inline-block;
  position: relative;

  &.bal-select-button {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid $bal_line_blue;
    border-radius: 20px;
    padding: 5px;

    &.has-only-two-options {
      flex-direction: row;
      border-radius: 100px;
    }
  }

  @include tablet() {
    &.bal-select-button {
      flex-direction: row;
      border-radius: 100px;
    }
  }

  &.bal-select-button.is-vertical {
    flex-direction: column !important;
    border-radius: 20px !important;
  }
}
